<h1>Edit Post</h1>

<%= form_for @post do |form| %>
  <%= form.label 'Post title' %>: 
  <%= form.text_field :title %><br />
  <%= form.label 'Post Description' %>: 
  <%= form.number_field :description %><br />
  
  <br />
  <%= form.submit %>
<% end %>
